@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

header.index {
  z-index: 10;
  margin-top: 20px;
  position: fixed;
  top: -10px;
  right: 20px;
  left: 20px;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

header.index .logo img {
  width: auto;
  height: 64px;
}

header.index ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

header.index ul li {
  list-style: none;
  margin-right: 10px;
}

header.index ul li a {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2em;
  color: black;
  padding: 8px 15px;
  border-radius: 15px;
}

header.index ul li a:hover {
  background: rgba(251, 188, 5, 0.3);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: black;
}

header.index ul li a.active {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 500;
  color: white;
}

header.info {
  z-index: 10;
  width: 50%;
  margin-top: 20px;
  position: fixed;
  top: -10px;
  right: 20px;
  left: 20px;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

header.info .logo img {
  width: auto;
  height: 64px;
}

.toggle {
  position: relative;
  cursor: pointer;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.toggle span {
  position: absolute;
  width: 40px;
  height: 4px;
  background: black;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.toggle span:nth-child(1) {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  width: 25px;
  left: 15px;
}

.toggle span:nth-child(2) {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  width: 25px;
  left: 15px;
}

.toggle.active span:nth-child(1) {
  width: 40px;
  -webkit-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotate(45deg);
}

.toggle.active span:nth-child(2) {
  width: 40px;
  -webkit-transform: translateY(0px) rotate(315deg);
          transform: translateY(0px) rotate(315deg);
}

.toggle.active span:nth-child(3) {
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}

header.info.right {
  left: calc(50% - 10px);
}

.sidebar {
  z-index: 6;
  position: fixed;
  background-color: white;
  height: 100%;
  -webkit-transform: translate(-350px);
          transform: translate(-350px);
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar ul {
  margin-left: 35px;
  margin-right: 35px;
  list-style: none;
}

.sidebar ul li a {
  color: black;
  font-size: 2em;
  line-height: 2;
  text-decoration: none;
}

.sidebar.active {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.glass-section {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  -webkit-transition: 2s;
  transition: 2s;
  z-index: 5;
}

.glass-section .glass-menu {
  position: fixed;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  width: 0%;
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.glass-section .glass-menu ul {
  display: none;
}

.glass-section.active {
  z-index: 6;
}

.glass-section.active .glass-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.glass-section.active .glass-menu ul {
  display: block;
  list-style: none;
  margin-bottom: 100px;
}

.glass-section.active .glass-menu ul li {
  font-size: 1.5em;
  margin: 40px 0;
  text-align: center;
}

.glass-section.active .glass-menu ul li a {
  background: rgba(212, 157, 157, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2em;
  color: black;
  padding: 8px 15px;
  border-radius: 25px;
}

.glass-section.active .glass-menu ul li a:hover {
  background: rgba(30, 144, 255, 0.3);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: white;
}

.glass-section.active .glass-menu ul li a.active {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 900;
  color: white;
}

section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
  color: black;
}

section h1 {
  font-size: 3em;
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
  z-index: 5;
}

section .first {
  margin-top: 100px;
}

.big-background-text {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.big-background-text .text {
  position: absolute;
  z-index: 10;
  bottom: 25%;
  top: 25%;
  left: 25%;
  right: 25%;
}

.big-background-text .text h1 {
  z-index: 5;
  margin: auto;
  padding: auto;
  color: white;
  max-width: 80vw;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.big-background-text img {
  z-index: 5;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.service-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  overflow: hidden;
  z-index: 5;
}

.service-container .card {
  position: relative;
  width: 350px;
  height: 280px;
  background-color: white;
  border-radius: 15px;
}

.service-container .card .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--i);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 15px;
  z-index: 2;
}

.service-container .card .icon svg {
  fill: white;
  height: 100px;
  width: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.service-container .card .content {
  position: relative;
  padding: 20px;
  color: black;
  text-align: center;
  margin-top: 70px;
  z-index: 1;
}

.service-container .card .content h2 {
  font-size: 1.4em;
  margin-bottom: 12px;
}

.service-container .card .content p {
  font-size: 0.9em;
  line-height: 1.5;
  font-weight: 500;
}

.service-container .card:hover .icon {
  top: 5px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.service-container .card:hover .icon svg {
  fill: white;
  height: 50px;
  width: 50px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
  margin: 50px 0;
  z-index: 5;
}

.text-container {
  margin: 0 30px;
  max-width: 1000px;
  z-index: 5;
}

.text-container h1 {
  text-align: center;
  font-size: 3em;
}

.text-container p {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5;
}

.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-container a img {
  max-height: 100px;
  width: auto;
}

.img-container.small a img {
  max-height: 80px;
  width: auto;
}

.information-section {
  min-height: 100vh;
  position: relative;
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.information-section .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px;
}

.information-section .content .text {
  color: black;
}

.information-section .content .text h1 {
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 4em;
  text-align: left;
}

.information-section .content .text li {
  margin-bottom: 10px;
}

.information-section .content .text p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 10px;
}

.information-section .content .text .button {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  margin-top: 20px;
  color: black;
  font-weight: 500;
  border: 2px solid black;
  padding: 10px 30px;
  letter-spacing: 1px;
}

.information-section .content .text .button:hover {
  background: black;
  color: white;
  letter-spacing: 2px;
}

.information-section .images {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.information-section .images .img-box {
  position: relative;
  width: 50%;
  height: 50%;
}

.information-section .images .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.information-section .images .img-box:last-child {
  width: 100%;
}

.information-section .images-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.information-section .images-vertical .img-box {
  position: relative;
  width: 50%;
  height: 50vh;
}

.information-section .images-vertical .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.information-section .images-vertical .img-box:first-child {
  height: 100vh;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
  padding-bottom: 200px;
  z-index: 5;
  width: 100%;
}

.contact-section .form-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
          box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

.contact-section .form-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  pointer-events: none;
}

.contact-section h2 {
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 20px;
}

.contact-section .row100 {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.contact-section .row100 .column {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 20px;
}

.contact-section .row100 .column .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  color: black;
}

.contact-section .row100 .column .input-box input, .contact-section .row100 .column .input-box textarea {
  position: absolute;
  width: 100%;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  font-size: 1.1em;
  padding: 0 10px;
  z-index: 1;
  color: black;
  resize: none;
}

.contact-section .row100 .column .input-box input {
  height: 100%;
}

.contact-section .row100 .column .input-box .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 1.3em;
  padding: 0 10px;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
}

.contact-section .row100 .column .input-box .text.filled {
  top: -35px;
  left: -10px;
}

.contact-section .row100 .column .input-box input:focus + .text, .contact-section .row100 .column .input-box input:valid + .text {
  top: -35px;
  left: -10px;
}

.contact-section .row100 .column .input-box .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.contact-section .row100 .column .input-box .line.filled {
  height: 100%;
}

.contact-section .row100 .column .input-box input:focus ~ .line, .contact-section .row100 .column .input-box input:valid ~ .line {
  height: 100%;
}

.contact-section .row100 .column .input-box textarea:focus + .text, .contact-section .row100 .column .input-box textarea:valid + .text {
  top: -35px;
  left: -10px;
}

.contact-section .row100 .column .input-box textarea:focus ~ .line, .contact-section .row100 .column .input-box textarea:valid ~ .line {
  height: 100%;
}

.contact-section .row100 .column .input-box.text-area {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.contact-section .row100 .column .submit {
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  outline: none;
  font-weight: 600;
}

.side-box {
  margin-top: 20px;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.side-box .box {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 30px;
  -webkit-box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.05);
  background: whitesmoke;
  border-radius: 20px;
  overflow: hidden;
}

.side-box .box .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
}

.side-box .box .img-box img {
  max-width: 128px;
}

.side-box .box .content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1) translateY(calc(100% - 8px));
          transform: scale(1) translateY(calc(100% - 8px));
}

.side-box .box .content .icon img {
  height: 80px;
  width: 80px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.side-box .box .content h3 {
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-top: 20px;
}

.side-box .box .content h4 {
  color: white;
  font-size: 1.1em;
  font-weight: 200;
}

.side-box .box .content.whatsapp {
  background: green;
}

.side-box .box .content.mail {
  background: blue;
}

.side-box .box:hover .img-box {
  -webkit-transform: scale(0) translateY(100px);
          transform: scale(0) translateY(100px);
}

.side-box .box:hover .content {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.article_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}

.article_container .card {
  width: 400px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 10px 10px -6px;
          box-shadow: 0 10px 10px -6px;
}

.article_container .card .card-img-top {
  border-radius: 10px;
  width: 400px;
  height: 200px;
}

.article_container .card .card-img-top img {
  -o-object-fit: cover;
     object-fit: cover;
}

.article_container .card .card-body {
  padding: 15px;
}

.article_container .card .card-body .card-title {
  font-size: 1.5em;
}

.blue {
  background-color: #4285f4;
}

.green {
  background-color: #34a853;
}

.red {
  background-color: #eb4335;
}

.yellow {
  background-color: #fbbc05;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.blue-text {
  color: #4285f4;
}

.green-text {
  color: #34a853;
}

.red-text {
  color: #eb4335;
}

.yellow-text {
  color: #fbbc05;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.red-fill .shape-fill {
  fill: #eb4335;
}

.blue-fill .shape-fill {
  fill: #4285f4;
}

.green-fill .shape-fill {
  fill: #34a853;
}

.yellow-fill .shape-fill {
  fill: #fbbc05;
}

.white-fill .shape-fill {
  fill: white;
}

.complex-wave-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.complex-wave-effect svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.triangle-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.triangle-effect svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
}

.book-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.book-effect svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 105px;
}

.inverted-triangle-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.inverted-triangle-effect svg {
  position: relative;
  display: block;
  width: calc(101% + 1.3px);
  height: 171px;
}

.tilt-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.tilt-effect svg {
  position: relative;
  display: block;
  width: calc(101% + 1.3px);
  height: 225px;
}

.arrow-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrow-effect svg {
  position: relative;
  display: block;
  width: calc(101% + 1.3px);
  height: 96px;
}

.wave-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wave-effect svg {
  position: relative;
  display: block;
  width: calc(101% + 1.3px);
  height: 131px;
}

.curve-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.curve-effect svg {
  position: relative;
  display: block;
  width: calc(101% + 1.3px);
  height: 222px;
}

.extra-top-margin {
  margin-top: 250px;
}

@media (max-width: 1240px) {
  section h1 {
    font-size: 2em;
  }
  .text-container h1 {
    color: black;
    font-size: 2em;
  }
  .text-container p {
    color: black;
  }
  header.index ul {
    display: none;
  }
  header.index .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1240px) {
  header.index ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header.index .toggle {
    display: none;
  }
}

@media (max-width: 1000px) {
  header.info {
    width: 95%;
  }
  header.info.right {
    left: 0;
  }
  .article-section-header {
    margin-top: 200px;
  }
  .information-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .information-section .content {
    padding: 40px;
  }
  .information-section .one {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .information-section .images {
    height: 100vh;
  }
}

@media (max-width: 700px) {
  .information-section .images .img-box {
    width: 100%;
    height: 40vh;
  }
}

@media (max-width: 500px) {
  .big-background-text .text {
    right: 0%;
    left: 0%;
  }
  .information-section .content .text h1 {
    margin-top: 50px;
    font-size: 3em;
  }
  header.index {
    margin-top: 10px;
    padding: 5px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header.index .logo img {
    height: 32px;
    width: auto;
  }
  header.info {
    margin-top: 10px;
    padding: 5px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header.info .logo img {
    height: 32px;
    width: auto;
  }
  .toggle {
    width: 32px;
    height: 32px;
  }
  .toggle span {
    width: 20px;
    height: 2px;
    border-radius: 2px;
  }
  .toggle span:nth-child(1) {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    width: 12px;
    left: 8px;
  }
  .toggle span:nth-child(2) {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    width: 12px;
    left: 8px;
  }
  .toggle.active span:nth-child(1) {
    width: 20px;
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  .toggle.active span:nth-child(2) {
    width: 20px;
    -webkit-transform: translateY(0px) rotate(315deg);
            transform: translateY(0px) rotate(315deg);
  }
  .toggle.active span:nth-child(3) {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

@media (max-height: 667px) {
  .information-section .content .text h1 {
    margin-top: 60px;
    font-size: 1.5em;
  }
  .information-section .content .text p {
    font-size: 1em;
  }
  header.index {
    margin-top: 10px;
    padding: 5px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header.index .logo img {
    height: 32px;
    width: auto;
  }
  header.info {
    margin-top: 10px;
    padding: 5px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header.info .logo img {
    height: 32px;
    width: auto;
  }
  .toggle {
    width: 32px;
    height: 32px;
  }
  .toggle span {
    width: 20px;
    height: 2px;
    border-radius: 2px;
  }
  .toggle span:nth-child(1) {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    width: 12px;
    left: 8px;
  }
  .toggle span:nth-child(2) {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    width: 12px;
    left: 8px;
  }
  .toggle.active span:nth-child(1) {
    width: 20px;
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  .toggle.active span:nth-child(2) {
    width: 20px;
    -webkit-transform: translateY(0px) rotate(315deg);
            transform: translateY(0px) rotate(315deg);
  }
  .toggle.active span:nth-child(3) {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

@media (max-height: 600px) {
  .sidebar ul li svg {
    width: 24px;
    height: 24px;
  }
  .sidebar ul li a {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=styles.css.map */