@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body {
  background-color: #6586f0;
}

section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
  color: white;
}

section h1 {
  margin-top: 100px;
}

section .first {
  margin-top: 0px;
}

.blue {
  background-color: #1d1dd8;
}

.red {
  background-color: #ca1c1c;
}

.pink {
  background-color: pink;
}

.dark {
  background-color: #041e42;
}

.complex-wave-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.complex-wave-effect svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.triangle-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.triangle-effect svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
}

.book-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.book-effect svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 105px;
}

.inverted-triangle-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.inverted-triangle-effect svg {
  position: relative;
  display: block;
  width: calc(101% + 1.3px);
  height: 171px;
}

.tilt-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.tilt-effect svg {
  position: relative;
  display: block;
  width: calc(101% + 1.3px);
  height: 225px;
}

.arrow-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrow-effect svg {
  position: relative;
  display: block;
  width: calc(101% + 1.3px);
  height: 96px;
}

.wave-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wave-effect svg {
  position: relative;
  display: block;
  width: calc(101% + 1.3px);
  height: 131px;
}

.curve-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.curve-effect svg {
  position: relative;
  display: block;
  width: calc(101% + 1.3px);
  height: 222px;
}

.red-fill .shape-fill {
  fill: #CA1C1C;
}

.blue-fill .shape-fill {
  fill: #1d1dd8;
}

.light-blue-fill .shape-fill {
  fill: #6586F0;
}

.dark-fill .shape-fill {
  fill: #041e42;
}

.pink-fill .shape-fill {
  fill: pink;
}
/*# sourceMappingURL=styles.css.map */