@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Comfortaa', cursive;
}
section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
    color: white;  
    h1{
        margin-top: 100px;
    } 
    .first{
        margin-top: 0px;
    }   
}
.blue{
    background-color: #4285f4;
}
.green{
    background-color: #34a853;
}
.red{
    background-color: #eb4335;
}
.yellow{
    background-color: #fbbc05;
}
.white{
    background-color: white;
}
.red-fill{
    .shape-fill{
        fill: #eb4335;
    }
}
.blue-fill{
    .shape-fill{
        fill: #4285f4;
    }
}
.green-fill{
    .shape-fill{
        fill: #34a853;
    }
}
.yellow-fill{
    .shape-fill{
        fill: #fbbc05;
    }
}
.white-fill{
    .shape-fill{
        fill: white; 
    }
}
.complex-wave-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg{
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
    }
}
.triangle-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg{
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 127px;
    }

}
.book-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg{
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 105px;
    }

}
.inverted-triangle-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    svg{
        position: relative;
        display: block;
        width: calc(101% + 1.3px);
        height: 171px;
    }
}
.tilt-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg{
        position: relative;
        display: block;
        width: calc(101% + 1.3px);
        height: 225px; 
    }
}
.arrow-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    svg{
        position: relative;
        display: block;
        width: calc(101% + 1.3px);
        height: 96px;
    }
}
.wave-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    svg{
        position: relative;
        display: block;
        width: calc(101% + 1.3px);
        height: 131px;
    }
}
.curve-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    svg{
        position: relative;
        display: block;
        width: calc(101% + 1.3px);
        height: 222px;
    }
}
