@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Comfortaa', cursive;
}
header{
    z-index: 10;
    margin-top: 20px;
    position: fixed;
    top: -10px; 
    right: 20px; 
    left: 20px; 
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25); 
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5); 
    .logo{
        img{
            width: auto;
            height: 72px;
        }
    } 
    ul{
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
        li{
            list-style: none;
            margin-right: 10px;
            a{
                background: rgba(255,255,255, 0.2);
                backdrop-filter: blur(10px);
                border: 1px solid rgba(255, 255, 255, 0.25); 
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                border-left: 1px solid rgba(255, 255, 255, 0.5);
                text-decoration: none;
                font-weight: 500;
                font-size: 1.2em;
                color: black; 
                padding: 8px 15px;
                border-radius: 15px;
            }
            a:hover{
                background: rgba(251,188,5, 0.3);
                box-shadow: 0 5px 10px rgba(0,0,0,0.1);
                color: white;
            }
            a.active{
                background: rgba(0,0, 0, 0.7); 
                border-radius: 15px;
                backdrop-filter: blur(10px);
                border: 1px solid rgba(255, 255, 255, 0.25); 
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                border-left: 1px solid rgba(255, 255, 255, 0.5);
                font-weight: 500;
                color: white;
            }
        }
    }
    button{
        background: rgba(0,0,0,0); 
        cursor: pointer;
        border: none; 
        svg{
            height: 64px;
            width: 64px;
            fill: black;
        }
    }
    button:hover{
        svg{
            fill: #fbbc05;
        }
    }
}
.sidebar{
    z-index: 6;
    position: fixed;
    background-color: white;
    height: 100%;
    transform: translate(-310px);
    transition: 1s;
    ul{
        margin-top: 150px;
        margin-left: 35px;
        margin-right: 35px;
        list-style: none;
        li{
            a{
                color: black;
                font-size: 2em;
                line-height: 2;
                text-decoration: none;
            }
        }
    }
}
.sidebar.active{
    transform: translate(0);
}
.glass-section{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    transition: 2s;
    z-index: 5;
    .glass-menu{
        position: fixed;
        transition: 2s;
        transition-delay: 0s;
        width: 0%;
        min-height: 100vh;
        background: rgba(255, 255, 255, 0.9); 
        backdrop-filter: blur(10px);
        z-index: 5;
        display: flex;
        ul{
            display: none;
        }
    }
}
.glass-section.active{
    z-index: 6;
    .glass-menu{
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap; 
        justify-content: center;
        align-content: center;
        align-items: center;
        ul{
            display: block;
            list-style: none;
            margin-bottom: 100px;
            li{
                font-size: 1.5em;
                margin: 40px 0; 
                text-align: center;
                a{
                    background: rgba(212, 157, 157, 0.2);
                    backdrop-filter: blur(10px);
                    border: 1px solid rgba(255, 255, 255, 0.25); 
                    border-top: 1px solid rgba(255, 255, 255, 0.5);
                    border-left: 1px solid rgba(255, 255, 255, 0.5);
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 1.2em;
                    color: black; 
                    padding: 8px 15px;
                    border-radius: 25px;
                }
                a:hover{
                    background: rgba(30, 144, 255, 0.3);
                    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
                    color: white;
                }
                a.active{
                    background: rgba(0,0, 0, 0.7); 
                    border-radius: 20px;
                    backdrop-filter: blur(10px);
                    border: 1px solid rgba(255, 255, 255, 0.25); 
                    border-top: 1px solid rgba(255, 255, 255, 0.5);
                    border-left: 1px solid rgba(255, 255, 255, 0.5);
                    font-weight: 900;
                    color: white;
                }
            }
        }
    }
}
section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    color: white;  
    h1{
        font-size: 3em;
        margin-top: 150px;
        margin-bottom: 50px;
        text-align: center;
        z-index: 5;
    } 
    .first{
        margin-top: 100px;
    }   
}
.big-background-text{
    position: relative;
    z-index: 1;
    display: flex;
    overflow: hidden;
    .text{
        position: absolute;
        z-index: 10;
        bottom: 25%;
        top: 25%;
        left: 25%;
        right: 25%;
        h1{
            z-index: 5;
            margin: auto;
            padding: auto;
            color: white;
            max-width: 80vw;
            text-align: center;
            text-shadow: 1px 1px 1px black;
        }
    }
    img{
        z-index: 5;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        overflow: hidden;
    }
}
.service-container{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    gap: 20px; 
    max-width: 1200px;
    overflow: hidden;
    z-index: 5;
    .card {
        position: relative;
        width: 350px;
        height: 280px; 
        background-color: white;
        border-radius: 15px;
        .icon{
            display: flex; 
            justify-content: center;
            align-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0; 
            width: 100%;
            height: 100%; 
            background-color: var(--i);
            transition: 0.5s;
            border-radius: 15px;
            z-index: 2;
            svg{
                fill: white;
                height: 100px;
                width: 100px;
                transition: 0.5s;
            }
        }
        .content{
            position: relative; 
            padding: 20px; 
            color: black;
            text-align: center;
            margin-top: 70px;
            z-index: 1; 
            h2{
                font-size: 1.4em;
                margin-bottom: 12px;
            }
            p{
                font-size: 0.9em;
                line-height: 1.5;
                font-weight: 500;
            }
        }
    }
    .card:hover{
        .icon{
            top: 5px; 
            left: calc(50% - 40px); 
            width: 80px; 
            height: 80px;
            border-radius: 50%; 
            svg{
                fill: white;
                height: 50px;
                width: 50px;
            }
        }
    }
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 100px;
    margin: 50px 0;
    z-index: 5;
}
.text-container{
    margin: 0 30px;
    max-width: 1000px;
    z-index: 5;
    h1{
        text-align: center;
        font-size: 3em;
    }
    p{
        text-align: center;
        font-size: 1.5em;
        line-height: 1.5;
    }
}
.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    img{
        max-width: 300px;
        height: auto;
    }
}
.blue{
    background-color: #4285f4;
}
.green{
    background-color: #34a853;
}
.red{
    background-color: #eb4335;
}
.yellow{
    background-color: #fbbc05;
}
.white{
    background-color: white;
}
.red-fill{
    .shape-fill{
        fill: #eb4335;
    }
}
.blue-fill{
    .shape-fill{
        fill: #4285f4;
    }
}
.green-fill{
    .shape-fill{
        fill: #34a853;
    }
}
.yellow-fill{
    .shape-fill{
        fill: #fbbc05;
    }
}
.white-fill{
    .shape-fill{
        fill: white; 
    }
}
.complex-wave-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg{
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
    }
}
.triangle-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg{
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 127px;
    }

}
.book-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg{
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 105px;
    }

}
.inverted-triangle-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    svg{
        position: relative;
        display: block;
        width: calc(101% + 1.3px);
        height: 171px;
    }
}
.tilt-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg{
        position: relative;
        display: block;
        width: calc(101% + 1.3px);
        height: 225px; 
    }
}
.arrow-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    svg{
        position: relative;
        display: block;
        width: calc(101% + 1.3px);
        height: 96px;
    }
}
.wave-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    svg{
        position: relative;
        display: block;
        width: calc(101% + 1.3px);
        height: 131px;
    }
}
.curve-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    svg{
        position: relative;
        display: block;
        width: calc(101% + 1.3px);
        height: 222px;
    }
}
@media (max-width: 1110px){
    section{
       h1{
           font-size: 2em;
       }
    }
    .text-container{
        h1{
            font-size: 2em;
        }
    }
    header{
        ul{
            display: none;
        }
        button{
            display: flex;
        }
    }
}
@media (min-width: 1110px){
    header{
        ul{
            display: flex;
        }
        button{
            display: none;
        }
    }
}
@media (max-width: 500px){
    .big-background-text{
        .text{
            right: 0%;
            left: 0%;
        }
    }
    header{
        margin-top: 10px;
        padding: 5px;
        justify-content: space-evenly;
        .logo{
            img{
                height: 32px;
                width: auto;
            }
        }
        button{
            svg{
                height: 32px;
                width: 32px;
            }
        }
    }
}